body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 80px auto;
  text-align: center;
}

h1 {
  margin-bottom: 5px;
}

.subtitle {
  color: #666;
  margin-bottom: 20px;
}

.card {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  width: 70%;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  background: black;
  color: white;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 5px auto;
  padding: 10px;
  width: 80%;
  border-radius: 5px;
}
